[DEFAULT]
local_ip = {{ undercloud.local_ip }}
local_interface = {{ undercloud.local_interface }}
local_mtu = {{ undercloud.local_mtu }}
enable_tempest = true
undercloud_hostname = {{ os_project }}-ospd-1.{{ domain_name }}
{% if undercloud.use_novajoin|bool %}
enable_novajoin = true
ipa_otp = {{ novajoin_ipa_otp.stdout }}
undercloud_nameservers = {{ novajoin_ipa_ipaddr }}
overcloud_domain_name = {{ domain_name }}
{% endif %}

[ctlplane-subnet]
cidr = {{ undercloud.network_cidr }}
dhcp_start = {{ undercloud.dhcp_start }}
dhcp_end = {{ undercloud.dhcp_end }}
inspection_iprange = {{ undercloud.inspection_start }},{{ undercloud.inspection_end }}
gateway = {{ undercloud.network_gateway }}
masquerade = true

[auth]
undercloud_admin_password = {{ undercloud.undercloud_admin_password }}
