[DEFAULT]
#image_path = .
#undercloud_hostname = <None>
local_ip = {{ undercloud.local_ip }}
network_gateway = {{ undercloud.network_gateway }}
undercloud_public_vip = {{ undercloud.undercloud_public_vip }}
undercloud_admin_vip = {{ undercloud.undercloud_admin_vip }}
generate_service_certificate = true
certificate_generation_ca = local
local_interface = {{ undercloud.local_interface }}
local_mtu = {{ undercloud.local_mtu }}
network_cidr = {{ undercloud.network_cidr }}
masquerade_network = {{ undercloud.masquerade_network }}
dhcp_start = {{ undercloud.dhcp_start }}
dhcp_end = {{ undercloud.dhcp_end }}
enable_tempest = true

[auth]
undercloud_admin_password = {{ undercloud.undercloud_admin_password }}
