openstack overcloud deploy --templates /usr/share/openstack-tripleo-heat-templates \
  -n /home/stack/overcloud/network_data.yaml \
  -r /home/stack/overcloud/roles_data_osp13.yaml \
  -e /usr/share/openstack-tripleo-heat-templates/environments/network-isolation.yaml \
  -e /home/stack/overcloud/neutron-ovn-dvr-ha.yaml \
  -e /home/stack/overcloud/network_env_osp13.yaml \
  -e /home/stack/overcloud_images.yaml \
  -e /home/stack/overcloud/inject-trust-anchor-hiera-tls-everywhere.yaml \
  -e /home/stack/overcloud/hostnames_ips_osp13.yaml \
  -e /home/stack/overcloud/scheduler_hints_env_osp13.yaml \
  -e /usr/share/openstack-tripleo-heat-templates/environments/ceph-ansible/ceph-ansible-external.yaml \
  -e /home/stack/overcloud/ceph-external.yaml \
  -e /home/stack/overcloud/keystone-domain-config.yaml \
  -e /home/stack/overcloud/docker-puppet.yaml \
  -e /usr/share/openstack-tripleo-heat-templates/environments/ssl/enable-internal-tls.yaml \
  -e /usr/share/openstack-tripleo-heat-templates/environments/tls-everywhere-endpoints-dns.yaml \
  -e /home/stack/overcloud/overcloud_env_osp13.yaml \
  -e /usr/share/openstack-tripleo-heat-templates/environments/services/haproxy-public-tls-certmonger.yaml \
{% if use_vendordata|bool == true %}
  -e /home/stack/overcloud/vendordata_env.yaml \
{% endif %}
{% if use_octavia|bool == true %}
  -e /usr/share/openstack-tripleo-heat-templates/environments/services-docker/octavia.yaml \
  -e /home/stack/overcloud/octavia_env.yaml \
{% endif %}
  --ntp-server {{ clouddata.ntpservers[0] }} --libvirt-type kvm  \
  --log-file overcloud_deployment_0.log
