---
# This file is to be encrypted with:
#
#   $ ansible-vault encrypt vault_passwords.yml
#   New Vault password:
#   Confirm New Vault password:
#   Encryption successful
#

undercloud_admin_password: <password>
admin_user_password: <overcloud admin password>
ironic_virtual_ipmi:
  user: <developer username>
  password: <developer password>
