clouds:
  {{ os_cluster_admincreds }}:
    auth:
      auth_url: {{ os_cluster_keystone_adminurl }}
      username: {{ admin_user }}
      password: {{ admin_user_password }}
      project_name: {{ admin_project }}
{% if identity_api_version|int == 3 %}
      project_id: {{ os_project_id }}
      user_domain_name: {{ admin_user_domain_name }}
      project_domain_name: {{ admin_project_domain_name }}
    identity_api_version: {{ identity_api_version }}
    compute_api_version: {{ compute_api_version }}
    region_name: {{ os_region }}
    interface: {{ endpoint_type }}
{% endif %}
    cacert: {{ cacertfile }}
