[DEFAULT]
#image_path = .
#undercloud_hostname = <None>
local_ip = {{ undercloud.local_ip }}
network_gateway = {{ undercloud.network_gateway }}
undercloud_public_vip = {{ undercloud.undercloud_public_vip }}
undercloud_admin_vip = {{ undercloud.undercloud_admin_vip }}
#undercloud_service_certificate =
#generate_service_certificate = false
#certificate_generation_ca = local
#service_principal =
local_interface = {{ undercloud.local_interface }}
local_mtu = {{ undercloud.local_mtu }}
network_cidr = {{ undercloud.network_cidr }}
masquerade_network = {{ undercloud.masquerade_network }}
dhcp_start = {{ undercloud.dhcp_start }}
dhcp_end = {{ undercloud.dhcp_end }}
#hieradata_override =
#net_config_override =
#inspection_interface = br-ctlplane
#inspection_iprange = 192.0.2.100,192.0.2.120
#inspection_extras = true
#inspection_runbench = false
#inspection_enable_uefi = true
#undercloud_debug = true
enable_tempest = true 
#enable_mistral = true
#enable_zaqar = true
#enable_telemetry = true
#enable_ui = true
#enable_validations = true
#ipxe_enabled = true
#store_events = false
#scheduler_max_attempts = 30
#clean_nodes = false
[auth]
undercloud_admin_password = {{ undercloud.undercloud_admin_password }}
