127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
172.18.0.17 os1-ceph-1
172.18.0.18 os1-ceph-2
172.18.0.19 os1-ceph-3

