[client.openstack]
        key = AQD/C8NZ16ziERAAtYl59IkK3ABdHtFuNTEE6A==
        caps mon = "allow r"
        caps osd = "allow class-read object_prefix rbd_children, allow rwx pool=images, allow rwx pool=volumes, allow rwx pool=vms, allow rwx pool=backups, allow rwx pool=metrics"
