# created by ansible
BOOTPROTO=static
DEVICE=eth1
ONBOOT=yes
IPADDR={{ networks.provisioning.cidr_prefix }}.{{ last_octet.bastion.bastion_1 }}
NETMASK=255.255.255.0
PEERDNS=no
TYPE=Ethernet
USERCTL=no
